<%
var pageTitle = is_archive() ? 'Blog' : page.title;
var title = pageTitle ? `${pageTitle} — ${config.title}` : `${config.title} — by CleverNode`;
var description = page.description ? page.description : config.description;
%>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <meta name="robots" content="noodp,noydir">

  <title><%= title %></title>
  <meta name="description" content="<%= description %>">

  <%- css('css/style') %>

  <link rel="mask-icon" href="<%- url_for('/images/icon.svg') %>" color="#268ec7">
  <link rel="icon" type="image/png" href="<%- url_for('/images/favicon-32x32.png') %>" sizes="32x32">
  <link rel="icon" type="image/png" href="<%- url_for('/images/favicon-16x16.png') %>" sizes="16x16">
  <link rel="icon" type="image/svg+xml" href="<%- url_for('/images/icon.svg') %>">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:title" content="<%= title %>"/>
  <meta property="og:description" content="<%= description %>"/>
  <meta property="og:url" content="<%= url %>"/>
  <meta property="og:site_name" content="<%= config.title %>"/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@gayakessler" />
  <meta name="twitter:url" content="<%= url %>"/>
  <meta name="twitter:title" content="<%= title %>"/>
  <meta name="twitter:description" content="<%= description %>"/>
  <meta name="twitter:image" content="<%- url_for('/images/og_abtestingforwp_poster.jpg') %>">

  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%- url_for('/images/og_abtestingforwp_poster.jpg') %>"/>
</head>
